.health-mobile-px{
    padding-right: 20px;
}

.team-max-width{
    width: 100%;
    max-width: 1520px !important;
    margin-left: auto;
    margin-right: auto;
    /* background-color: #606060; */
    z-index: 333;
}

@media (max-width:992px){
    
}
.unstyle a{
    color: #fff;
}
.mysvg{
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section-top-0{
    padding-top: 0 ;
   padding-bottom: 0 ;
}
.health-section,
.sports-section{
    padding-bottom:100px !important;
   /* background-color: saddlebrown; */
   position: relative !important;
   /* z-index: 222 !important; */
}
.vertical-1,
.vertical-2{
    content: '';
    position: absolute;
    top: 0;
    width: 72px;
    background-color: #CC172D;
    height: 100%;
    /* z-index: -1; */
}
.vertical-1{
    left:0;
}
.vertical-2{
    right: 0;
    /* z-index: -11; */
}



.feature_blogs-padding{
    background-color: rgba(237, 237, 237, 0.5); 
    position: relative;
    padding-top: 35px !important;
    padding-bottom: 145px !important;
    
  }
  
  .detail-bg-0{
    background-color: transparent !important;
  }

  .banner-left-top{
    padding-top: 56px;
}





@media (max-width:992px){
    .vertical-1,
    .vertical-2{
        display: none;
    }
}


.banner-left-line:not(:first-child){
    margin-top: 54px;
}
.banner-left-line{
    width: 100%;
    height: 9px;
    background-color: #707070;
    border-radius: 10px;
}
.meta-quest-title-mt{
    margin-bottom: 40px;
}
.blog-owl-caorousel{
    margin-top: 60px;
  }
  
@media (max-width:1366px){
    .banner-left-line{
        margin-top: 36px !important;
        height: 5px;
    }
  
    
}
@media (max-width:992px){
   
    .banner-left-top{
        padding-top: 36px;
    }
    
}
@media (max-width:576px){
    .banner-left-line{
        margin-top: 19px !important;
        height: 4px;
      }
}





@media(max-width:576px){
    .blog-owl-caorousel{
        margin-top: 14px;
      }
}

/* //////* ////detail form section custom style css start */ 
.contact-form{
    margin-top:35px;
    margin-bottom: 91px;
}
.contact-form-h1-mb{
    margin-bottom: 42px;
}
.from-input-height{
    /* width: 100%; */
    height: 60px !important;
}
.form-label-text{
    font-size: 30px;
    font-family: 'Gontserrat-Regular';
    color: #A1A1A1;
    line-height: 40px;
}
.flex-content input{
    border: 1px solid #979797;
    outline: none;
    width: 100%;
    height: 100%;
    padding: 5px 15px;
}
.contact-form-select{
    height: 65px;
    width: 100%;
    /* color: black; */
    display: block;
    border: 1px solid #ced4da!important;
    outline: none;
    width: 100%;
    height: 100%;
    padding: 5px 15px;
    border-radius: 5px;
    color: #6C757D;
}
.flex-textarea{
    width: 100%;  
}
.commit-title-h3{
    margin-top: 44px;
    margin-bottom: 14px;
    font-size: 30px;
    font-family: 'Gontserrat-Regular';
    color: #A1A1A1;
    line-height: 40px;
}
.flex-textarea textarea {
   
    width: 100% !important;
    padding: 0.7rem;
    border: 1px solid gray;
    
}
.form-check-label-my{
    display: flex;
    align-items: center;
}
.form-check-label-my input{
    width: 40px;
    height: 40px;
    margin-right:30px;
}
.form-check-label-my label{
    color: #8B8B8B;
    font-size: 26px;
    font-family: 'Gontserrat-Regular';
}
.contact-button-2{
    margin-top: 74px;
}

.contact-button a{
    width: 100%;
    max-width: 228px;
    font-size:20px;
    background-color: #CC172D;
    color: #fff;
    display: inline-block;
    padding:16px 0;
    border-radius: 3px;
    font-family: 'Gontserrat-Regular';
    text-align: center;
    margin-left: auto;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}
.contact-button a:hover{
    /* transition: all 0.5s ease; */
    background-color: #d4192fc4;
}
.detail-form-title{
    font-size: 60px;
    color:#606060;
    /* line-height: 80px; */
    font-family: 'Gontserrat-Bold';
}

.form-col-mt{
    margin-top: 23px;
}
/* //////Contact PAGE TOP Header section  start */
.write-h1{
    font-size:80px;
    color:#9B9B9B ;
    font-family: 'Gontserrat-Bold';
    margin-bottom: 10px;
}
@media (max-width:1366px){
    .detail-form-title{
        font-size: 45px
    }
}
@media (max-width:992px){
    .write-h1{
        font-size: 40px;
    }
    .contact-form-h1-mb{
        margin-bottom: 16px;
    }
    .contact-button a{
        font-size: 19px;
        max-width: 170px;
        padding: 9px 0px;
    }
    .contact-button{
        margin-top: 50px;
    }
    .form-check-label-my label{
        font-size: 20px;
    }
    .form-check-label-my input{
        width: 30px;
        height: 30px;
    }
}
@media (max-width:576px){
    .write-h1{
        font-size: 25px;
    }
    .contact-form{
        margin-top:20px;
        margin-bottom: 40px;
    }
    .form-col-mt-mobile{
        margin-top: 12px;
    }
    .form-col-mt{
        margin-top: 12px;
    }
    .contact-button{
        margin-top: 30px;
    }
    .contact-button a{
        font-size: 17px;
        max-width: 135px;
        padding: 8px 0px;
    }
    .form-check-label-my label{
        font-size: 16px;
    }
    .form-check-label-my input{
        width: 18px;
        height: 18px;
    }
    
}
/* //////Contact PAGE TOP Header section  end */

@media(max-width:992px){
    
    .from-input-height{
        /* width: 100%; */
        height: 45px !important;
    }
    .commit-title-h3{
        margin-top: 13px;
        font-size: 20px;
    }
    .form-label-text{
        font-size: 14px;
    }
   
    .detail-form-title{
        padding-left: 42px;
        font-size: 40px;
    }
}
@media(max-width:576px){
  
    .detail-form-title{
        font-size: 20px;
        color:#606060;
        line-height: 27px;
        font-family: 'Gontserrat-Bold';
        
    }
    .form-col-mt-mobile{
        margin-top: 23px;
    }
}
/* //////* ////form section custom style css end */ 