@font-face {
    font-family: 'Gontserrat-Regular';
    src: url("../fonts/gontserrat/Gontserrat-Regular.ttf");
}
@font-face {
    font-family: 'Gontserrat-Bold';
    src: url("../fonts/gontserrat/Gontserrat-Bold.ttf");
}

@media (max-width:992px){
    .letest-right-flex{
      display: none !important;
    }
}
/* health custom style css start */

.border-radius-div-banner{
    margin-top:141px;
    border-radius: 15px;
    width: 100%;
}


.health-bg-banner-img{
    width: 100%;
    height: 994px;
    object-fit: cover;
    background-size: cover;
}
.health-btn-a{
    background: #CC172D;
    border-color: #CC172D;
    color: #ffffff !important;
    min-height: 49px;
    line-height: 49px;
    padding:0px 25px;
    display: inline-block;
    font-size: 20px;
    font-family: 'Gontserrat-Regular';
    /* font-family: 'D:\adeel xd zip file\task-1\task-1\task-1\fonts\gontserrat\Gontserrat-Bold.ttf'; */
}


/* health custom style css end */














/* //////* ////detail banner section custom style css start */  
.detail-banner-bg{
    width: 100%;
    height: 160px;
}
.detail-banner-bg img{
    background-size: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}
.detail-destop-screen{
    padding-top: 159px !important;
    padding-bottom: 74.5px !important;
    position: relative;
}
@media (max-width:992px){
    .detail-destop-screen{
        padding-top: 70px !important;
        /* padding-bottom: 74.5px !important; */
    }
}
@media (max-width:576px){
    .detail-destop-screen{
        padding-top: 34px !important;
        padding-bottom: 20.5px !important;
    }
}

.detail-small-right-banner{
    width: 100%;
    height: 544px;
    position: relative;
}
.detail-small-right-banner img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner-right-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* width: 100%; */
    /* height: 100%; */
}
.banner-right-title{
    font-size: 50px;
    line-height:67px;
    font-family: 'Gontserrat-Bold';
    color: #E8E8E8;
}

.social-left-text{
    display: inline-block;
    font-size: 20px;
    line-height: 27px;
    color: #9B9B9B;
    font-family: 'Gontserrat-Regular';
    /* padding-top: 9px; */
}
.text-color-red{
    color: #FF0000;
}
.detail-right-icon{
    width: 31px;
    height: 26px;
    display: inline-block;
    position: relative;
    margin-left: 24.9px ;
}
.detail-right-icon:first-child{
    margin-right: 34px ;
}

@media (max-width:1366px){
    .social-left-text{
        font-size: 19px;
    }
    .detail-right-icon:first-child{
        /* margin-left: 0px !important; */
        margin-right: 9px;
    }
    .detail-right-icon{
        width: 26px;
        height: 24px;
        margin-left: 10.9px !important;
    }
    .detail-small-right-banner{
        height: 426px;
    }
    .social-left-text{
        font-size: 15px;
    }
    .detail-right-icon{
        width: 22px;
        height: 21px;
    }
    .detail-banner-line-text{
        margin-top: 37.5px;
    }
    
}
@media (max-width:768px){
    .detail-right-icon-none {
        display: none;
    }
}


@media (max-width:576px){
    .social-left-text{
        font-size: 10px;
    }
    .detail-right-icon{
        width: 15px;
        height: 13px;
        margin-left: 5px !important;
    }
    
    .detail-small-right-banner{
        height: 180px;
    }
}

.detail-right-icon svg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    bottom: 0;
    left: 0;
}
.detail-banner-line-text{
    margin-top: 60.5px;
}






/* //////* ////SUB DOMAIN section custom style css state */

.detail-sub-domain{
    padding-top:111px !important;

}
@media (max-width:1366px){
    .detail-sub-domain{
        padding-top:70px !important;
    
    }
}
@media (max-width:768px){
    .detail-sub-domain{
        padding-top:38px !important;
    
    }
}
@media (max-width:576px){
    .detail-sub-domain{
        padding-top:30px !important;
    
    }
}
.sub-right-bg{
    width: 100%;
    height: 1413px;
}
.sub-right-bg img{
    width: 100%;
    height: 100%;
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
}
.sub-domain-title{
    margin-bottom:79px ;
}

.sub-domain-left-bg{
    width: 100%;
    height: 581px;
    margin-top: 98.5px;
    margin-bottom: 85.5px;
    border-radius: 10px;
}
.sub-domain-left-bg img{
    width: 100%;
    height: 100%;
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}
.sub-profile-flex{
    width: 100%;
    max-width: 737px;
    background-color: red;
    padding-top: 28px;
    padding-left: 26px;
    padding-right: 30px;
    padding-bottom: 26px;
    display: flex;
    /* flex-wrap: wrap; */
    margin-top: 82.5px;
    margin-bottom: 73px;
    border-radius: 10px;
}
.sub-profile-bg{
    width: 114px !important;
    height: 164px;
}
.sub-profile-bg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-right-content{
    padding-left: 7px;
    width: 100%;
}
.sub-profile-title{
    font-size: 40px;
    color: #fff;
    line-height: 53px;
    font-family: 'Gontserrat-Bold';
}
.sub-profile-title2{
    font-size: 16px;
    line-height: 12px;
    color: #fff;
    font-family: 'Gontserrat-Regular';
    margin-bottom: 7px;
}
.sub-profile-p{
    font-size: 16px;
    line-height: 21px;
    color: #fff;
    font-family: 'Gontserrat-Regular';
    margin-bottom: 0;
}
@media (max-width:1366px){
    .sub-domain-title{
        margin-bottom: 45px;
    }
    .sub-domain-left-bg{
        margin-top: 48px;
        margin-bottom: 60px;
        height: 420px;
    }
    .sub-right-bg{
        height:680px;
    }
}
@media (max-width:768px){
    .sub-domain-title{
        margin-bottom:0px ;
        padding-left: 48px;
    }
    .sub-domain-left-bg{
        margin-top: 46px;
        margin-bottom: 48px;
    }
    .sub-domain-left-bg{
        height: 380px;
    }
    .sub-profile-flex{
      padding: 7px 10px 7px 7px;
    }
}
@media (max-width:576px){
    .sub-profile-bg{
        width: 71px;
        height: 103px;
    }
    .sub-domain-left-bg{
        height: 180px;
        margin-top: 33px;
        margin-bottom: 33px;
    }
    .sub-profile-title{
        font-size: 20px;
        line-height: 27px;
    }
    .sub-profile-title2{
        font-size: 10px;
    }
    .sub-profile-p{
        font-size: 10px;
        line-height: 14px;
    }
    .sub-profile-flex{
        margin-top: 46.8px;
        margin-bottom: 46px;
    }
}
/* //////* ////SUB DOMAIN section custom style css end */  




.textnomial-h2{
    font-size: 30px;
    line-height: 40px;
    color: #FF0000;
    font-family: 'Gontserrat-Regular';
    margin-top: 60px;
}
@media (max-width:576px){
    .textnomial-h2{
        margin-top: 46px;
    }
}
.textnomial-container{
    margin-top:30.9px;
    /* border: 1px solid red; */
    padding-left: 22px;
    position: relative;
}
.textnomial-verticle{
    position: absolute;
    top: 0;
    left: 0;
    height: 84%;
    width: 5px;
    background-color: #707070;
    opacity: 26%;
}
.textnomial-verticle:before,
.textnomial-verticle:after{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: gray;
}
.textnomial-verticle:before{
    top: 16%;
    left: -7px;
}
.textnomial-verticle:after{
    bottom: 0%;
    left: -7px;  
}
.oscar-mt{
    padding-top: 100px;
}
.textnomial-oscar-center{
    padding-left: 86px;
    position: relative;
}

.textnomial-verticle-center{
    position: absolute;
    top: -18px;
    /* top: -9%; */
    left: 47px;
    left: 7%;
    height: 59%;
    width: 5px;
    background-color: #707070;
    opacity: 26%;

}
.textnomial-verticle-center:before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: gray;
    bottom: 0%;
    left:  -7px;
}
.oscar-title-h3{
    font-size: 20px;
    line-height: 20px;
    color: #FF0000;
    font-family: 'Gontserrat-Regular'
}
.oscar-title-p{
    font-size: 16px;
    line-height: 21px;
    color: #2B2B2B;
    font-family: 'Gontserrat-Regular'
}
.oscar-icon-container{
    text-align: end;
}
.oscar-icon-a span,
.oscar-icon-a2 span{
    font-size: 20px;
    color:#ACBBBB ;
    font-family: 'Gontserrat-Regular';
    line-height: 27px;
    display: inline-block;
}
.oscar-icon-a:hover span,
.oscar-icon-a2:hover span{
    transition: all 0.3s ease-in;
    color: #CC172D;
}
.oscar-icon-a2{
    margin-left: 25px;
}

@media (max-width:1366px){
    .oscar-mt{
        padding-top: 26px;
    }
    .textnomial-verticle:before{
        top: 6%;
    }
    .textnomial-verticle:after{
        bottom: 0%;
    }
    .textnomial-verticle{
        height: 76%;
    }
    .textnomial-verticle-center{
        height: 32%;
    }
    .textnomial-verticle-center:before{
        bottom: 0%;
    }
    .sub-profile-flex{
        margin-top: 60px;
        margin-bottom: 50px;
    }
}
@media (max-width:576px){
    .textnomial-container{
        margin-top: 6px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .textnomial-verticle{
        left: 11px;
    }
    
    .textnomial-oscar:hover,
    .textnomial-oscar-center:hover{
        transition: all 0.5s ease-in-out;
        background-color: #F7F7F7;
    }
    .textnomial-oscar-center{
        /* background-color: #ca9292; */
        padding-left: 0;
        margin-left: 21px;
    }
    
    .oscar-all-padding{
        padding:6.5px 15px 6.5px 7px ;
    }
    .textnomial-verticle-center{
        display: none;
    }
    .oscar-mt{
        padding-top: 0px;
    }
    .oscar-title-h3{
        font-size: 10px;
        line-height: 14px;
        position: relative;
    }
    .oscar-title-p{
        font-size: 10px;
        line-height: 14px;
    }
    .oscar-icon-a span,
     .oscar-icon-a2 span{
        font-size: 8px;
    
    }
   

    .textnomial-verticle:before,
    .textnomial-verticle:after{
        width: 7px;
        height: 7px;
        left: -2px;
    }
    .textnomial-verticle{
        width: 2px;
    }
    .textnomial-verticle:before{
        top: 3%;
        left: -3px;
    }
    .textnomial-verticle:after{
        bottom: 15%;
        left: -3px;  
    }
}

/* //////* ////textnomial form section custom style css end */ 



   

@media (max-width:576px){
    .meta-quest-title-mt{
        margin-bottom: 10px;
    }
    .vedio-content{
       left: 21px;
       bottom: 18px; 
    }
    .vedio-title-trailer{
        font-size: 19px;
    }
    .vedio-button{
        margin-bottom: 0.5rem;
    }
  
}

.navbar-logo{
    position: relative !important;
    max-width: 300px;
    height: 70px;
}
.navbar-logo svg{
    position: absolute !important;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    fill: wheat;
    margin-right: auto;
}
@media (max-width:768px){

}