@font-face {
    font-family: 'Gontserrat-Regular';
    src: url("../fonts/gontserrat/Gontserrat-Regular.ttf");
}
@font-face {
    font-family: 'Gontserrat-Bold';
    src: url("../fonts/gontserrat/Gontserrat-Bold.ttf");
}

@media (max-width:992px){
    .letest-right-flex{
      display: none !important;
    }
}
/* health custom style css start */
.border-radius-div{
    /* margin-top:40px; */
    border-radius: 15px;
}
.border-radius-div-banner{
    margin-top:141px;
    border-radius: 15px;
}
.about-img{
    width: 100%;
    border-radius: 15px;
    /* padding-top: 40px; */
    height: 337px;
    object-fit: cover;
    background-size: cover;
}
.health-bg-banner-img{
    width: 100%;
    height: 994px;
    object-fit: cover;
    background-size: cover;
}
.health-btn-a{
    background: #CC172D;
    border-color: #CC172D;
    color: #ffffff !important;
    min-height: 49px;
    line-height: 49px;
    padding:0px 25px;
    display: inline-block;
    font-size: 20px;
    font-family: 'Gontserrat-Regular';
    /* font-family: 'D:\adeel xd zip file\task-1\task-1\task-1\fonts\gontserrat\Gontserrat-Bold.ttf'; */
}

.parch-p-top{
    padding-top: 56px !important;
    padding-bottom: 21px;
    display: flex;
    justify-content: space-between;
}
/* health custom style css end */


/* footer custom style css start */
.footer-bg{
    background-color: #202020;
}
.footer-padding{
    padding-top: 173px;
    padding-bottom: 84px;
}

.footer-logo{
    position: relative;
 
    
}
.footer-logo svg{
    position: relative;
    left: 0;
    bottom: 0;
    max-width: 441px;
    height: 97px;
    
}

.footer-nav-title{
    font-size: 28px;
    font-family: 'Gontserrat-Regular';
    color: #fff;
    opacity: 55%;
}
.footer-title-margin{
    margin-top: 76px;
    margin-bottom: 57px;
}
.footer-description{
    font-size: 20px;
    font-family: 'Gontserrat-Regular';
    color: #fff;
    opacity: 55%;
    line-height: 27px;
    margin-bottom: 46px;
}
 .footer_google_play,
.footer_app_store{
   position: relative;
}
.footer_google_play svg,
.footer_app_store svg{
    position: relative;
    bottom: 0;
    left: 0;
}
/*.footer_google_play img,
.footer_app_stor img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    cursor: pointer;
} */
.footer_app_store{
    margin-left: 40px;
}

.footer-social-icon{
    position: relative;
}
.footer-social-icon svg{
    position: relative;
    left: 0;
    bottom: -12px;
    border-radius: 50px !important;
    width: 77px;
    height: 77px;
}
/* .footer-social-icon{
    text-align: center;
    width: 77px;
    height: 77px;
    line-height:77px;
    background-color: #91A0A0;
    border-radius: 50px;
}
.footer-social-icon a{
    font-size: 55px;
    color: #202020;
    width: 100%;
    height: 100%;
    display: block;
} */

.footer-social-icon a{
    border-radius: 50px;
    display: inline-block;
}

.social-ml{
    margin-left: 68px;
}

@media (min-width: 767.98px) {
   
}
@media (min-width: 991.98px) {
    .footer-nav-title{
        font-size: 28px;
    }
}

/* / max-width / */ 
@media (max-width: 767.98px) {
    .footer-padding{
        padding-top: 102px;
        padding-bottom: 84px;
    }
    /* .footer-social-icon svg{
        width: 57px;
        height: 57px;
    } */
}
@media (min-width: 767.98px) {
    .footer-nav-title{
        font-size: 24px;
    }
}
@media (max-width: 991.98px) {
    .footer-social-icon svg{
        width: 50px;
        height: 50px;
    }

    .footer-social-icon svg{
        bottom: -25px;
    }
}
@media (max-width: 567.98px) {
    /* .social-ml{
        margin-left: 27px;
    }
    .footer-padding{
        padding-top: 54px;
    }
    .footer-title-margin {
        margin-top: 34px;
        margin-bottom: 44px;
    } */
}


@media (max-width:576px){
    .footer-logo{
        max-width: 251px;
    }
    .footer-nav-title{
        font-size: 20px;
    }
    .footer-description {
        font-size: 16px;
        margin-bottom: 20px;
    }
    .social-ml{
        margin-left: 27px;
    }
    .footer-padding{
        padding-top: 34px;
    }
    .footer-title-margin {
        margin-top: 14px;
        margin-bottom: 24px;
    }
    .footer_google_play, .footer_app_store{
        max-width: 151px !important;
        
    }
    .footer_google_play, .footer_app_store svg{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}


/* ////banner section custom style css start */ 

.banner-container{
    padding-top: 86px;
    padding-bottom:78px ;
    position: relative;
}

.banner-inner{
    width: 100%;
    height: 177px;
}
.banner-inner img{
    width: 100%;
    height: 100%;
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
}

/* ////banner section custom style css end */ 




/* ////Subscribe section custom style css start */ 
.subscribe{
    background-color:#E8E8E8;
}
.subscribe-bg-color{
    padding-top: 85px;
    padding-bottom: 79px;
}
.subscribe-h1{
    font-size: 50px;
    color: #000000;
    font-family: 'Gontserrat-Bold';
    line-height: 67px;
}
.subscribe-input-container {
    width: 100%;
    height: 50px;
}
.subscribe-input-container input{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    border-bottom: 2px solid #707070;
    background-color: transparent;
    padding-right: 2rem;
    padding-left: 0.5rem;
    font-size: 20px;
    font-family: 'Gontserrat-Regular';
    color: #707070;
}

@media (max-width:1200px){
    .subscribe-h1{
        font-size: 40px;
    }
}
@media (max-width:992px){
    .subscribe-h1{
        font-size: 30px;
    }
}
@media (max-width:576px){
    .subscribe-h1{
        font-size: 21px;
        color: #848484;
        line-height: 41px;
    }
    .subscribe-bg-color{
        padding-left: 0rem;
        padding-right: 0rem;
    }
}
/* ////Subscribe section custom style css end */ 



/* ////Vedio section custom style css start */

.vedio-bg-img{
    width: 100%;
    min-height:1111px;
    background-image: url(../../vendor/img/vedio-main-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    /* object-fit: cover; */
    /* background-position: right;s */
    position: relative;
}
.vedio-bg-img:before{
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../../vendor/img/vedio-liner\ bg-color.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.vedio-inner{
    position: relative;
    z-index: 2;
    padding-top: 171px;
    
}
.vedio-title-h1{
    font-size: 80px;
    font-family: 'Gontserrat-Bold';
    color: #fff;
}
.vedio-left-container{
    width: 100%;
    height: 679px;
    position: relative;
    z-index: 155;
}
.vedio-left-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
  

    
}
.vedio-left-container:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(19, 19, 19, 0.7) ;
    z-index: 5;
}
.vedio-content{
    position: absolute;
    bottom: 58px;
    left: 53px;
    z-index: 6;
}

.vedio-button a{
    width: 118px;
    height: 118px;
    display: block;
    border-radius: 50% !important;
}
.vedio-button svg{
    width: 100%;
    height: 100%;
   position: relative;
   bottom: 0;
   left: 0;
   border-radius: 50% !important;
}
.vedio-title-trailer{
    font-size: 40px;
    font-family: 'Gontserrat-Bold';
    color: #fff;
}
/* ////Vedio section custom style css end */ 

/* //vedio popup start */
.popup-full-container{
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0, 0.5) !important;
    z-index: 900;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
}
.popup-full-container .vedio-popup-overlay{
    width: 100%;
    /* max-width: 1413px; */
    max-width: 85%;
    height: 846px;
    overflow-y: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; 
    margin: auto;
   
    
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transform: scale(0.25);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    z-index: 100;

}
.popup-full-container:target .vedio-popup-overlay{
       opacity: 1;
        visibility: visible;
        transform:  scale(1);
}
.popup-full-container:target {
    opacity: 1;
    visibility: visible;
}

 .popop-background-img{
    width: 100%;
    height: 100%;
}

.popop-background-img:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(19, 19, 19, 0.7) ;
    z-index: 5;
}
.popop-background-img img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    object-fit: cover;
}
.closee{
    color: #fff;
    position: absolute;
    font-size: 3rem;
    display: inline-block;
    text-decoration: none;
    transition: all .3s ease-in;
    line-height: 1;
    z-index: 98;
    top: 2rem;
    right: 3rem;
     width: 53px;
    height: 67px;
}
.closee svg{
    width: 100%;
    height: 100%;
}

.vedio-popup-content{
    position: absolute;
    bottom: 54px;
    left: 51px;
    z-index: 6;
}

.popup-vedio-buttone a{
    width: 118px;
    height: 118px;
    display: block;
    border-radius: 50% !important;
}
.popup-vedio-buttone svg{
    width: 100%;
    height: 100%;
   position: relative;
   bottom: 0;
   left: 0;
   border-radius: 50% !important;
}
/* //vedio popup end */

@media (max-width:768px){
    .vedio-right-d-none{
        display: none !important;
    }
    .vedio-bg-img{
        min-height: 291px;
    }
    .vedio-title-h1{
        font-size: 35px !important;
        margin-left: 25px;
    }
    .vedio-inner{
        padding-top: 71px;
        padding-left: 2rem;
        padding-right: 2rem;
        position: relative;
    }
    .vedio-left-container{
        max-width: 80%;
        height: 242px;
        position: absolute;
        top: 123px;
        left: 0;
        right: 0;
        /* padding-left: 36px;
        padding-right: 36px; */
        margin-left: auto;
        margin-right: auto;
        
    }
    .vedio-button a{
        width: 37px;
        height: 39px;
    }
    .vedio-title-trailer{
        font-size: 15px;
        font-family: 'Gontserrat-Regular';
    }
    .popup-full-container .vedio-popup-overlay{
        width: 100%;
        max-width: 80%;
        height: 410px;
    }
    .popup-vedio-buttone a{
        width: 37px;
        height: 39px;
    }
    .closee{
        width: 52px;
        height: 28px;
        top: 1rem;
        right: 1rem;
    }
}
@media (max-width:576px){
    .vedio-title-h1{
        font-size: 20px !important;
        margin-left: 20px;
    }
}
.empty-bg-color{
    width: 100%;
    height: 120px;
    background-color: #fff;
}

/* //////* ////detail banner section custom style css start */  
.detail-banner-bg{
    width: 100%;
    height: 160px;
}
.detail-destop-screen{
    padding-top: 159px !important;
    padding-bottom: 74.5px !important;
    position: relative;
}
@media (max-width:576px){
    .detail-destop-screen{
        padding-top: 34px !important;
        padding-bottom: 20.5px !important;
    }
}

.detail-small-right-banner{
    width: 100%;
    height: 544px;
    position: relative;
}
.detail-small-right-banner img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner-right-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* width: 100%; */
    /* height: 100%; */
}
.banner-right-title{
    font-size: 50px;
    line-height:67px;
    font-family: 'Gontserrat-Bold';
    color: #E8E8E8;
}

.social-left-text{
    display: inline-block;
    font-size: 20px;
    line-height: 27px;
    color: #9B9B9B;
    font-family: 'Gontserrat-Regular';
    /* padding-top: 9px; */
}
.text-color-red{
    color: #FF0000;
}
.detail-right-icon{
    width: 31px;
    height: 26px;
    display: inline-block;
    position: relative;
    margin-left: 24.9px ;
}
.detail-right-icon:first-child{
    margin-right: 34px ;
}
@media (max-width:768px){
    .detail-right-icon-none {
        display: none;
    }
}
@media (max-width:1040px){
    .social-left-text{
        font-size: 19px;
    }
    .detail-right-icon:first-child{
        /* margin-left: 0px !important; */
        margin-right: 9px;
    }
    .detail-right-icon{
        width: 26px;
        height: 24px;
        margin-left: 10.9px !important;
    }
    
}
@media (max-width:992px){
    .detail-small-right-banner{
        height: 296px;
    }
    .social-left-text{
        font-size: 15px;
    }
    .detail-right-icon{
        width: 22px;
        height: 21px;
    }
}
@media (max-width:576px){
    .social-left-text{
        font-size: 10px;
    }
    .detail-right-icon{
        width: 15px;
        height: 13px;
        margin-left: 5px !important;
    }
    
    .detail-small-right-banner{
        height: 180px;
    }
}

.detail-right-icon svg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    bottom: 0;
    left: 0;
}
.detail-banner-line-text{
    margin-top: 60.5px;
}
@media (max-width:576px){
    .detail-banner-line-text{
        margin-top: 37.5px;
    }
}





/* //////* ////SUB DOMAIN section custom style css state */

.detail-sub-domain{
    padding-top:111px !important;

}
@media (max-width:576px){
    .detail-sub-domain{
        padding-top:38px !important;
    
    }
}
.sub-right-bg{
    width: 100%;
    height: 1413px;
}
.sub-right-bg-img{
    width: 100%;
    height: 100%;
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
}
.sub-domain-title{
    margin-bottom:79px ;
}

.sub-domain-left-bg{
    width: 100%;
    height: 581px;
    margin-top: 98.5px;
    margin-bottom: 85.5px;
    border-radius: 10px;
}
.sub-domain-left-bg img{
    width: 100%;
    height: 100%;
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}
.sub-profile-flex{
    width: 100%;
    max-width: 737px;
    background-color: red;
    padding-top: 28px;
    padding-left: 26px;
    padding-right: 30px;
    padding-bottom: 26px;
    display: flex;
    /* flex-wrap: wrap; */
    margin-top: 82.5px;
    margin-bottom: 73px;
    border-radius: 10px;
}
.sub-profile-bg{
    width: 114px !important;
    height: 164px;
}
.sub-profile-bg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-right-content{
    padding-left: 7px;
    width: 100%;
}
.sub-profile-title{
    font-size: 40px;
    color: #fff;
    line-height: 53px;
    font-family: 'Gontserrat-Bold';
}
.sub-profile-title2{
    font-size: 16px;
    line-height: 12px;
    color: #fff;
    font-family: 'Gontserrat-Regular';
    margin-bottom: 7px;
}
.sub-profile-p{
    font-size: 16px;
    line-height: 21px;
    color: #fff;
    font-family: 'Gontserrat-Regular';
    margin-bottom: 0;
}

@media (max-width:768px){
    .sub-domain-title{
        margin-bottom:0px ;
        padding-left: 48px;
    }
    .sub-domain-left-bg{
        margin-top: 46px;
        margin-bottom: 48px;
    }
    .sub-domain-left-bg{
        height: 380px;
    }
    .sub-profile-flex{
      padding: 7px 10px 7px 7px;
    }
}
@media (max-width:576px){
    .sub-profile-bg{
        width: 71px;
        height: 103px;
    }
    .sub-domain-left-bg{
        height: 180px;
        margin-top: 33px;
        margin-bottom: 33px;
    }
    .sub-profile-title{
        font-size: 20px;
        line-height: 27px;
    }
    .sub-profile-title2{
        font-size: 10px;
    }
    .sub-profile-p{
        font-size: 10px;
        line-height: 14px;
    }
    .sub-profile-flex{
        margin-top: 46.8px;
        margin-bottom: 46px;
    }
}
/* //////* ////SUB DOMAIN section custom style css end */  


/* //////* ////detail form section custom style css start */ 
.from-input-height{
    /* width: 100%; */
    height: 65px !important;
}
.form-label-text{
    font-size: 30px;
    font-family: 'Gontserrat-Regular';
    color: #A1A1A1;
    line-height: 40px;
}
.flex-content input{
    border: 1px solid #979797;
    outline: none;
    width: 100%;
    height: 100%;
    padding: 5px 15px;
}
.flex-textarea{
    width: 100%;  
}
.commit-title-h3{
    margin-top: 44px;
    margin-bottom: 14px;
    font-size: 30px;
    font-family: 'Gontserrat-Regular';
    color: #A1A1A1;
    line-height: 40px;
}
.flex-textarea textarea {
   
    width: 100% !important;
    padding: 0.7rem;
    border: 1px solid gray;
    

}
.form-button{
    margin-top: 51px;
    text-align: end;
}
.form-button a{
    width: 100%;
    max-width: 228px;
    font-size:20px;
    background-color: #CC172D;
    color: #fff;
    display: inline-block;
    padding:16px 0;
    border-radius: 3px;
    font-family: 'Gontserrat-Regular';
    text-align: center;
    margin-left: auto;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}
.form-button a:hover{
    /* transition: all 0.5s ease; */
    background-color: #d4192fc4;
}
.detail-form-title{
    font-size: 60px;
    color:#606060;
    line-height: 80px;
    font-family: 'Gontserrat-Bold';
}
@media(max-width:992px){
    
    .from-input-height{
        /* width: 100%; */
        height: 45px !important;
    }
    .commit-title-h3{
        margin-top: 13px;
        font-size: 20px;
    }
    .form-label-text{
        font-size: 14px;
    }
    .form-button{
        margin-top: 30px;
        /* margin-bottom: 16px; */
    }
    .form-button a{
        max-width: 178px;
        padding: 8px 0;
        font-size: 17px;
    }
}
@media(max-width:576px){
    .form-button{
        margin-top: 5px;
        margin-bottom: 16px;
    }
    .form-button a{
        max-width: 148px ;
    }
    .detail-form-title{
        font-size: 20px;
        color:#606060;
        line-height: 27px;
        font-family: 'Gontserrat-Bold';
        padding-left: 32px;
    }
}
/* //////* ////detail form section custom style css end */ 



/* //////* ////textnomial form section custom style css start */ 


.textnomial-h2{
    font-size: 30px;
    line-height: 40px;
    color: #FF0000;
    font-family: 'Gontserrat-Regular';
    margin-top: 60px;
}
@media (max-width:576px){
    .textnomial-h2{
        margin-top: 46px;
    }
}
.textnomial-container{
    margin-top:30.9px;
    /* border: 1px solid red; */
    padding-left: 22px;
    position: relative;
}
.textnomial-verticle{
    position: absolute;
    top: 0;
    left: 0;
    height: 84%;
    width: 5px;
    background-color: #707070;
    opacity: 26%;
}
.textnomial-verticle:before,
.textnomial-verticle:after{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: gray;
}
.textnomial-verticle:before{
    top: 16%;
    left: -7px;
}
.textnomial-verticle:after{
    bottom: 0%;
    left: -7px;  
}
.oscar-mt{
    padding-top: 100px;
}
.textnomial-oscar-center{
    padding-left: 86px;
    position: relative;
}

.textnomial-verticle-center{
    position: absolute;
    top: -18px;
    /* top: -9%; */
    left: 47px;
    left: 7%;
    height: 59%;
    width: 5px;
    background-color: #707070;
    opacity: 26%;

}
.textnomial-verticle-center:before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: gray;
    bottom: 0px;
    left:  -7px;
}
.oscar-title-h3{
    font-size: 20px;
    line-height: 20px;
    color: #FF0000;
    font-family: 'Gontserrat-Regular'
}
.oscar-title-p{
    font-size: 16px;
    line-height: 21px;
    color: #2B2B2B;
    font-family: 'Gontserrat-Regular'
}
.oscar-icon-container{
    text-align: end;
}
.oscar-icon-a span,
.oscar-icon-a2 span{
    font-size: 20px;
    color:#ACBBBB ;
    font-family: 'Gontserrat-Regular';
    line-height: 27px;
    display: inline-block;
}
.oscar-icon-a:hover span,
.oscar-icon-a2:hover span{
    transition: all 0.3s ease-in;
    color: #CC172D;
}
.oscar-icon-a2{
    margin-left: 25px;
}


@media (max-width:576px){
    .textnomial-container{
        margin-top: 6px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .textnomial-verticle{
        left: 11px;
    }
    
    .textnomial-oscar:hover,
    .textnomial-oscar-center:hover{
        transition: all 0.5s ease-in-out;
        background-color: #F7F7F7;
    }
    .textnomial-oscar-center{
        /* background-color: #ca9292; */
        padding-left: 0;
        margin-left: 21px;
    }
    
    .oscar-all-padding{
        padding:6.5px 15px 6.5px 7px ;
    }
    .textnomial-verticle-center{
        display: none;
    }
    .oscar-mt{
        padding-top: 0px;
    }
    .oscar-title-h3{
        font-size: 10px;
        line-height: 14px;
        position: relative;
    }
    .oscar-title-p{
        font-size: 10px;
        line-height: 14px;
    }
    .oscar-icon-a span,
     .oscar-icon-a2 span{
        font-size: 8px;
    
    }
   

    .textnomial-verticle:before,
    .textnomial-verticle:after{
        width: 7px;
        height: 7px;
        left: -2px;
    }
    .textnomial-verticle{
        width: 2px;
    }
    .textnomial-verticle:before{
        top: 3%;
        left: -3px;
    }
    .textnomial-verticle:after{
        bottom: 15%;
        left: -3px;  
    }
}
@media (max-width:992px){}
/* //////* ////textnomial form section custom style css end */ 