@font-face {
    font-family: 'Gontserrat-Regular';
    src: url("../fonts/gontserrat/Gontserrat-Regular.ttf");
}
@font-face {
    font-family: 'Gontserrat-Bold';
    src: url("../fonts/gontserrat/Gontserrat-Bold.ttf");
}

.header-bg-container{
    width: 100%;
    height: 736px;
    position: relative;
}
.header-bg-container-3{
    width: 100%;
    height: 368px;
    position: relative;
}
.header-bg-container:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
.header-bg-container img,
.header-bg-container-3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.header-banner-content{
    padding-right: 42px;
    position: absolute;
    bottom: 0px;
    left: 5%;
    z-index: 22;
    width: 95%;
}
.header-banner-content .banner-head{
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
   
}

.banner-des{
    font-size: 33px;
    line-height: 1.2;
    font-weight: bold;
    color: #ffffff;
}
.banner-content .banner-head{
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
   
}
.center-between{
    display: flex;
    justify-content: space-between;
}
.text-1{
    font-size: 14px;
    color: #fff;
    opacity: 0.6800000071525574;
}
.left-para{
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
    color: #ffffff;
}
.right-para{
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
    color: #ffffff;
}

@media (max-width:992px){
    .banner-des{
       font-size: 22px; 
    }
    .text-1{
        font-size: 12px;
        opacity: 0.88;
    }
    .left-para,
    .right-para{
        font-size: 14px;
    }
}
@media (max-width:768px){
    .header-sec{
        display: none;
    }
}

/* /// mmobile-header-sec start */

.mobile-header-sec{
    padding: 0 ;
    display: none;
    background-color: silver;
}
@media (max-width:768px){
    .mobile-header-sec{
        display: block !important;
    }
}
.mobile-header-owl{
    position: relative;
}




.header-mobile-bg-img{
    width: 100%;
    height: 210px;
    position: relative;
    z-index: 1;
}
.header-mobile-bg-img:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2;
}
.header-mobile-bg-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
    /* background-position: center; */
   
}
.header-banner-mobile-content{
    position: absolute;
    top: 18%;
    left: 5%;
    z-index: 5;
}

.mobile-banner-head{
    color: #fff;
    font-size: 12px;
    font-family: 'Gontserrat-Regular';
}
.mobile-banner-des{
    font-size: 24px;
    color: #fff;
    font-family: 'Gontserrat-Bold';
    line-height: 32px;
}
.mobile-left-para,
.mobile-right-para{
    font-size: 8px;
    line-height: 11px;
    font-weight: 300;
    color: #ffffff;
    font-family: 'Gontserrat-Regular';
}
.mobile-header-sec{
    display: none;
}

/* /////MOBILE OWL DOT CUSTOM BUTTON */
.mobile-header-sec .owl-theme .owl-dots button{
    outline: none;
    border: 1px solid transparent !important;
    
}
.mobile-header-sec .owl-theme .owl-dots .owl-dot span{
    width: 18px;
     height: 6px;
     background-color: #FFFFFF;
     opacity: 1;
     border-radius: 0;
     margin: 0 10px;
     border: 1px solid transparent;
     
}
.mobile-header-sec .owl-theme .owl-dots .owl-dot.active span,
 .mobile-header-sec .owl-theme .owl-dots .owl-dot:hover span{
    background-color: #fff;
    opacity: 0.5;
    width: 18px !important;
    height: 6px !important;
    margin: 0 10px;
    border: 1px solid transparent;
 }
 .mobile-header-sec .owl-theme .owl-dots{
    width: 100%;
    position:absolute;
    bottom: -5%;
    left: 48%;
    transform: translate(-50%, -50%);
 
}

/* /// mmobile-header-sec end */


/* //////DETAIL PAGE TOP Header section start */

.detail-bg-img{
    width: 100%;
    height: 736px;
    position: relative;
}
.detail-bg-img:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2;
}
.detail-bg-img img{
    background-size: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}
.detail-header-content{
    position: absolute;
    bottom: 11%;
    left: 0;
    z-index: 3;
    padding-left: 8.80%;
    padding-right: 3%;
}
.detail-header-title-h3,
.header-span,
.header-sub-span{
    font-size: 25px;
    line-height: 33px;
    color: #ffffff;
    font-family: 'Gontserrat-Regular';

}
.detail-header-title-h1{
    font-size: 90px;
    color: #ffffff;
    font-family: 'Gontserrat-Bold';
    line-height: 120px;
}
.header-span,
.header-sub-span{
    display: inline-block;
}
.header-sub-span{
    padding-left:50px ;
}
@media(max-width:1200px){
    .detail-header-title-h1{
        font-size: 70px;
        line-height: 90px;
    }
   
}
@media(max-width:992px){
    .detail-header-title-h1{
        font-size: 70px;
        line-height: 90px;
    }
    .detail-header-content{
        padding-left: 5%
    }
}
@media(max-width:768px){
    .detail-header-content{
        padding-left: 10%
    }
    .detail-bg-img{
        height: 210px;
    }
    .detail-header-title-h3{
        font-size: 12px;
        font-family: 'Gontserrat-Regular';
        line-height: 16px;
    }
    .detail-header-title-h1 {
        font-size: 24px ;
        line-height: 32px;
    }
   
    .header-span,
    .header-sub-span{
        font-size: 8px;
        font-family: 'Gontserrat-Regular';
        line-height: 11px;
    }
      .header-sub-span{
        padding-left: 0px;
    }
    .detai-header-span-flex{
        display: flex;
        justify-content:space-between;
        /* padding-right: 2.85%; */
        padding-right: 9%;
    }
}
/* //////DETAIL PAGE TOP Header section start */

/* //////About PAGE TOP Header section start */

.about-destop-screen{
    padding-top: 139px !important;
    padding-bottom: 74.5px !important;
    position: relative;
}
@media (max-width:576px){
    .about-destop-screen{ 
        padding-top: 34px !important;
        padding-bottom: 20.5px !important;
    }
}

.about-bg-img,
.contact-bg-img{
    width: 100%;
    height: 525px;
    position: relative;
    z-index: 1;
    background-color: silver;
}
.about-bg-img:before,
.contact-bg-img:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.4); */
    z-index: 2;
    background-size: cover;
    object-fit: cover;
  
}
.about-bg-img:before{
    background-image: url(../../vendor/img/about-opacity-bg.png);
}
.contact-bg-img:before{
    background-image: url(../../vendor/img/about-opacity-bg.png);
}
.about-bg-img img,
.contact-bg-img img{
    background-size: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}
.about-header-content,
.contact-header-content{
    position: absolute;
    bottom: 28%;
    left: 10%;
    z-index: 4;
}
.about-header-title-h1,
.contact-header-title-h1{
    font-size:90px;
    color: #fff;
    font-family: 'Gontserrat-Bold';

}
.about-banner-bg,
.contact-banner-bg{
    width: 100%;
    height: 170px;
}
.about-banner-bg img,
.contact-banner-bg img{
    background-size: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}
.about-banner-line-text,
.contact-banner-line-text{
    margin-top: 54px;
}
@media (max-width:992px){
    .about-header-title-h1,
    .contact-header-title-h1{
        font-size: 80px;
    }
}
@media (max-width:768px){
    .about-bg-img,
    .contact-bg-img{
        height: 300px;
    }
    .about-header-title-h1,
    .contact-header-title-h1{
        font-size: 60px;
    }
    .about-header-content,
    .contact-header-content{
        left: 7%;
        bottom: 18%;
    }
}
@media (max-width:576px){
    .about-bg-img,
    .contact-bg-img{
        height: 210px;
    }
    .about-header-title-h1,
    .contact-header-title-h1{
        font-size: 40px;
    }
    .about-header-content,
    .contact-header-content{
        left: 3%;
    }
    @media (max-width:280px){
        .about-header-content,
        .contact-header-content{
            font-size: 32px;
        }
    }
}
/* //////About PAGE TOP Header section  end */



/* //////Contact PAGE TOP Header section  start */
.write-h1{
    font-size:80px;
    color:#9B9B9B ;
    font-family: 'Gontserrat-Bold';
    margin-bottom: 10px;
}
@media (max-width:768px){
    .write-h1{
        font-size: 60px;
    }
}
@media (max-width:576px){
    .write-h1{
        font-size: 35px;
    }
}
/* //////Contact PAGE TOP Header section  end */