@font-face {
    font-family: 'Gontserrat-Regular';
    src: url("../fonts/gontserrat/Gontserrat-Regular.ttf");
}
@font-face {
    font-family: 'Gontserrat-Bold';
    src: url("../fonts/gontserrat/Gontserrat-Bold.ttf");
}
.health-mobile-screen,
.sports-mobile-screen{
  display: none;
}
@media (max-width:768px){
.health-mobile-screen,
.sports-mobile-screen{
  display: block;
}
.health-destop-screen,
.sports-destop-screen{
  display: none;
}
.parch-p-top{
  padding-top: 9px !important;
  padding-bottom: 6px !important;
}
.parah-text {
  padding-top: 9px !important;
  padding-bottom: 6px !important;
}
}
.product-reviews{
    background-color: #100F0F;
    position: relative;
}
.product-reviews-padding{
    padding-top: 94px !important;
    padding-bottom: 94px !important;
    background-color: #100F0F;
    position: relative;
}

.swiper-img-container{
    /* width: 100% ; */
    /* max-width: 414px; */
    /* height: 567px; */
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    margin-right: 30px;
}

.pro-sub-2{
  position: absolute;
  top: 38%;
  left: 6%
}
.swiper-img-container img{
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    width: 100% !important;
    height: 100%;
    border-radius: 15px;
    
}
.swiper-title,
.swiper-sub_title{
    font-size: 62px;
    /* font-family: 'Gontserrat-Bold'; */
    line-height: 62px;
}
.swiper-title{
    color: #fff;
}
.swiper-sub_title{
    color: #C02539;
}




 
  @media (max-width: 576px) {
    .swiper-title,
    .swiper-sub_title{
     font-size: 25px;
     line-height: 25px;
    } 

   
    .feature_blogs-padding{
      padding-bottom: 45px !important;
  }
  .swiper-img-container{
    margin-right: 12px;
    margin-left: 12px;
    height: 190px;
  }
  .product-reviews-padding{
    padding-top: 72px !important;
    padding-bottom: 42px !important;
  }
  
  }
 
  .product-review{
    background-color: #100F0F;
    overflow: hidden;
}
.product-heading{
    color: #ffffff;
    font-size: 62px;
}
.product-text{
    color: #CC172D;
}

.pro-sub{
    position: absolute;
    top: 38%;
    left: 10%;   
}

.product-img{
    margin-right: 30px;
}
 
/* ////feature blogs section custom style css start */ 

.blog-title,
.blog-sub-title{
  font-size: 55px;
  color:#CC172D;
 
  /* line-height: 73px; */
}
.blog-sub-title{
  color: #000;
}

.feature_blogs-container{
 
  margin-right: 30px !important;
 
}
.feature_blogs{
  width: 100%;
  /* max-width: 674px; */
  /* height: 467px; */
  position: relative;
  border-radius: 15px;
}
@media (max-width: 992px){
  .feature_blogs-container{
    margin-right: 10px !important;
  }
}
@media (max-width: 600px){
  .feature_blogs-container{
 
    margin-right: 12px !important;
    margin-left: 12px !important;
   
  }
}
@media (max-width: 576px){
  /* .feature_blogs-container{
      width:100%;
      height: 157px;
  } */
  .blog-title,
.blog-sub-title{
  font-size: 20px;
  /* line-height: 27px; */
}

}
.feature_blogs:before{
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.3);
border-radius: 15px;
}
.feature_blogs-img{
  width: 100%;
  /* height: 100%; */
  position: relative;
}

.feature_blogs-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
}

.feature_blogs-content{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 118px;
  /* background-color: red; */
}

@media (max-width: 576px){
  .feature_blogs-content{
      height: 40px;
  }
  .feature_blogs-img{
    height: 160px;
  }
}

.feature_blogs-item{
  width: 100px;
  height: 100px;
  line-height: 100px;
  background-color: red;
  text-align: center;
  border-top-left-radius: 15px;
  
}
@media (max-width: 1400px){
  .feature_blogs-item{
    width: 60px;
    height: 60px;
    line-height: 60px;
}
}
@media (max-width: 992px){
  .feature_blogs-item{
      width: 36px;
      height: 36px;
      line-height: 36px;
  }
}

.feature_blogs-item span,
.feature_blogs-number span{
  display: block;
  color: #fff;
  font-size: 50px;

}


.feature_blogs-number span{
  line-height: 118px;
  padding-right: 26px;
}
@media (max-width: 1400px){
  .feature_blogs-item span,
.feature_blogs-number span{
  font-size: 28px;
  }
  .feature_blogs-number span{
    line-height: 77px;
  }
}

@media (max-width: 992px){
  .feature_blogs-item span,
.feature_blogs-number span{
  font-size: 16px;
  }
  .feature_blogs-number span{
      line-height: 40px;
      padding-right: 14px;
  }
}
.feature_blog-text{
  position: absolute;
  bottom: 20px;
  left: 30px;
  width: 100%;
}
@media (max-width:1200px){
  .feature_blog-text{
    padding-right: 2rem;
    bottom: 20px;
  }
}
@media (max-width:992px){
  .feature_blog-text{
    bottom: 20px;
  }
}
@media (max-width: 768px){
  .feature_blog-text{
    bottom:9px;
    left: 10px;
    padding-right: 10px;
  }
}
@media (max-width:576px){
  .feature_blog-text{
    margin-bottom: 10px;
  }
}
.feature_blog-h4{
  font-size: 18px;
  /* line-height: 27px; */
  /* font-family: 'Gontserrat-Regular'; */
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 12px;
}
@media (max-width:992px){
  .feature_blog-h4{
    font-size: 14px;
    
  }
}
@media (max-width: 768px){
  .feature_blog-h4{
      font-size: 8px;
      /* line-height: 0px; */

  }
}
.feature_blog-h1{
  font-size: 31px;
  font-weight: 500;
  /* line-height: 60px; */
  font-weight: 400;
  color: #fff;
  padding-right: 2rem;
}
@media (max-width:1200px){
  .feature_blog-h1{
    font-size: 19px;
  }
}
@media (max-width: 992px){
  .feature_blog-h1{
  font-size: 12px;
  margin-bottom: 0;
  }
  @media (max-width: 768px){
    .feature_blog-h1{
      margin-bottom: 3px;
      padding-right: 1px;
    }
  }
} 



/* ////feature blogs section custom style css end */ 

.swiper {
  width: 100%;
  height: 100%;
}
.vedio-right-container{
  /* background-color: purple; */
  max-width: 100%;
  /* height: 807px; */
  height: 680px;
}
.swiper-coming-container{
  width: 100%;
  height: 315px;
  position: relative;
  
 z-index: 1;
}
.swiper-coming-container:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  background-image: url(../../vendor/img/coming_up-next-opcity.png);
  /* background-color: rgba(0, 0, 0, 0.1); */
  z-index: 2;
}
.swiper-coming-container:not(:first-child){
  margin-top: 24px;
}
.swiper-coming-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  position: relative;
}
.positon-title{
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
}
.positon-title-h1{
  color: #fff;
  padding-left: 16px;
}

.global{
  margin-top: 2rem !important;
    margin-bottom: 2rem !important;
}
.global-faq{
  width: 100%;
  /* max-width: 218px; */
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16%), 0 3px 6px rgba(0, 0, 0, 0.23%);
 
}
.global-question{
  display: flex;
  justify-content: space-between;
  padding:15px 0;
  cursor: pointer;
}
.global-answer{
  /* display: flex; 
  justify-content: space-between; */
  /* height: 45px; */
  /* align-items: center; */
  width: 100%;
  padding: 0 15px;

}
.answer{
  overflow: hidden;
  max-height: 0px;
  transition:  all 1s ease;
}
.global-flag img{
  width: 100%;
  max-width: 40px;
  object-fit: cover;
}
.faq.active .answer{
  max-height: 300px;
  animation:  fade 0.2s ease-in;
}
.faq .global-arrow svg{
  display: inline-block;
  transition: all 0.3s ease;
}
.faq.active .global-arrow svg{
  transform: rotate(180deg);
 
 
}
@keyframes fade {
  from{
      /* opacity: 0; */
      transform: translateY(-3px);
  }
  to{
      opacity: 1;
      transform: translateY(0);
  }
}
.global-question p{
  color: #CC172D;
  margin-bottom: 1px !important;
}
.global-question .global-title{
  font-size: 14px;
  font-family: 'Gontserrat-Bold';
  color: #000;
  line-height: 19px;
}
.global-question .global-arrow{
  display: block;
  /* font-size: 33px; */
  width: 25.606px;
  height: 11.27px;
  position: relative;
  margin-left: 2.7rem !important;
}
.global-arrow svg{
width: 100%;
height: 100%;
}
/* @media (max-width:767px){
  .global-question{
    height: 42px;
    justify-content: flex-start;
   
  }
  span{
    display: inline-block;
}
 
} */


/* //////* ////meta-quest  section custom style css start */ 
.meta-quest-title,
.sub-domain-title{
    font-size: 55px;
    color: #606060;
    font-family: 'Gontserrat-Bold';
    
}
.meta-owl-carousel{
    padding-left: 3rem;
    padding-right: 3rem;
}

 


.meta-quest{
  padding-top: 63.3px !important;
  padding-bottom:44.7px !important;
  background-color: #FAFAFA;
}


.meta-owl-bg-container{
  padding: 0.5rem;
  padding-bottom: 29px;
  background-color: red;
}
.meta-owl-bg-img{
  width: 100%;
  height: 364px;
  position: relative;
  z-index: 1;
  border-radius: 10px;
  
}
.meta-owl-bg-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}
.meta-owl-right-content{
  padding-left: 8px;
}
.meta-owl-h1{
  color: #fff;
  font-size: 60px;
  /* line-height: 80px; */
  font-family: 'Gontserrat-Bold';
  margin-top: 8px;
}


.meta-owl-p{
  font-size:14px;
  color: #fff;
  line-height: 19px;
  font-family: 'Gontserrat-Regular';
}
.meta-owl-right-button{
  width: 100%;
  max-width: 220px !important;

  height: 54px;
  background-color: #fff;
  font-size:20px;
  text-align: center;
  border-radius: 5px;
  line-height: 54px;
  
  /* transition: all 0.3s ease; */
}
.meta-owl-right-button a,
.owl-btn-2 a{
  display: block;
  width: 100%;
  height: 100%;
  font-size: 20px;
  color: #CC172D;
  font-family: 'Gontserrat-Regular';
}
@media(max-width:1366px){
  .meta-quest-title,
  .sub-domain-title{
      font-size: 41px;
  }
 
  .meta-owl-h1{
    color: #fff;
    font-size: 35px;
  }
  .meta-owl-right-button {
    height: 40px;
    line-height: 40px;
  }
  .meta-owl-right-button a{
    font-size: 17px;
  }
  .meta-owl-bg-img{
    height: 225px;
  }
}

@media (max-width:992px){
  .meta-owl-carousel{
    padding-left: 1.50rem;
    padding-right: 1.50rem;
}
}



@media(max-width:576px){
  .sub-domain-title,
  .meta-quest-title{
      font-size: 20px;
  }
  .meta-quest-title{
      padding-top: 17px;  
  }
  
  .meta-quest-title-mt{
      margin-bottom: 10px;
  }
  .meta-quest{
    padding-top: 1.3px !important;
    padding-bottom: 26.7px !important;
  }
  .meta-owl-bg-img{
    height: 170px;
  }
 
  .meta-owl-right-button a{
    font-size: 15px;
  }
  .meta-owl-h1{
  color: #fff;
  font-size: 35px;
  /* line-height: 47px; */
  font-family: 'Gontserrat-Bold';
  margin-top: 8px;
   }
   .meta-owl-p{
     font-size: 7px;
     margin-bottom: 0.6rem;
   }
}


.owl-btn-2{
  margin-left: 1rem;
  background-color: transparent;

}

.owl-btn-2 span{
  display: inline-block; 
  width: 26px;
  height: 22px;
  
}
.owl-btn-2 a{
  color: #EFEFEF;
  opacity: 57%;
  border-radius: 5px;
  }
  .owl-btn-2 a:hover{
    background-color: white;
    color: red;
    opacity: 1;
  }
  .owl-btn-2 a:hover svg{
    fill: red;
  }
  .owl-btn-2
  .owl-btn-2 span{
      display: inline-block;
      margin-right: 1rem;
  }
 
.owl-btn-2 span svg{
  width: 100%;
  height: 100%;
  fill: #fff;
  position: relative;
  left: 0;
  bottom: -5px;
}
/* .owl-span-22{
  display: block;
  width: 100%;

} */


/* .owl-btn-2:hover{
  background-color: #fff;
}
.owl-btn-2 a:hover{
  color: #CC172D;
}   */

.meta-quest-right .owl-theme .owl-dots button{
  outline: none;
  border: 1px solid transparent !important;
  
}
.meta-quest-right .owl-theme .owl-dots .owl-dot span{
  width: 12px;
   height: 12px;
   background-color: #FFFFFF;
   opacity: 1;
   border-radius: 50px;
   margin: 0 10px;
   border: 1px solid transparent;
   
}
.meta-quest-right .owl-theme .owl-dots .owl-dot.active span,
.meta-quest-right .owl-theme .owl-dots .owl-dot:hover span{
  background-color: #fff;
  opacity: 0.5;
  width: 12px !important;
  height: 12px !important;
  margin: 0 10px;
  border: 1px solid transparent;
}
.meta-quest-right .owl-theme .owl-dots{
  width: 100%;
  position:absolute;
  bottom: -5%;
  left: 48%;
  transform: translate(-50%, -50%);

}
.meta-quest-right .owl-theme .owl-nav{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  margin-top: 0 !important;
}
.meta-quest-right .owl-theme .owl-nav .owl-prev{
  position: absolute;
  left: 0;
  display: block;
}
.meta-quest-right .owl-theme .owl-nav .owl-next{
  position: absolute;
  right: 0;
  display: block;
}
.meta-quest-right .owl-theme .owl-nav button{
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background-color: red !important;
  color: white !important;
}

@media (max-width:992px){
  .meta-quest-right .owl-theme .owl-nav .owl-prev{
    left: -13px;
  }
  .meta-quest-right .owl-theme .owl-nav .owl-next{
    right: -13px;
  }
}
/* //////* ////meta-quest  section custom style css end */  


@media (min-width: 1920px){
  .blog-title{
    font-family: 'Gontserrat-Bold';
  }
  .feature_blog-h1{
    font-size: 42px;
    font-family: 'Gontserrat-Bold';
}
  .feature_blogs-item{
    width: 122px;
    height: 118px;
  }
  .feature_blogs-item span,
  .feature_blogs-number span{
    font-family: 'Gontserrat-Bold';
  }
  .feature_blog-h4{
    margin-bottom: 16px;
  }
  .feature_blog-text{
    bottom: 40px;
  }
}

